<% content_for :header do %>
  <h3>This is header</h3>
<% end %>
<h1>書櫃列表</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名稱</th>
    </tr>
  </thead>

  <tbody>
    <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf.id %></td>
        <td><%= link_to shelf.name, shelf_path(shelf) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :footer do %>
  <h3>This is footer</h3>
<% end %>