<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login to Everdwell</title>
    <link rel="stylesheet" href="/template_login/css/normalize.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='http://weloveiconfonts.com/api/?family=fontawesome'>
    <link rel="stylesheet" href="/template_login/css/style.css">
  </head>
  <body>
    <%= render 'user_signup' %>

    <script src="/template_login/js/index.js"></script>
  </body>
</html>
